.settings {
  //display: flex;
  //justify-content: center;

  .actions {
    //position: absolute;
    //bottom: 0;
    //right: 5rem;
    display: flex;
    gap: 0.5em;

    .button {
      margin: 16px 0;
      background-color: #fff;
      border: 0 solid #e2e8f0;
      border-radius: 1.5rem;
      color: #0d172a;
      cursor: pointer;
      font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-weight: 600;
      padding: 0.6rem 1.6rem;
      transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
      user-select: none;
      -webkit-user-select: none;
    }

    .button:hover {
      background-color: #3e4451;
      color: #fff;
    }

    @media (min-width: 768px) {
      .button {
        font-size: 1.125rem;
        padding: 1rem 2rem;
      }
    }

    .upload-state {
      margin-left: 1em;
    }
  }
}
