.replaced-emote {
  background-size: contain;
  display: inline-block;
  height: 2.75rem;
  overflow: hidden;
  text-indent: 100%;
  vertical-align: middle;
  white-space: nowrap;
  width: 2.75rem;
}
