$popup-border-radius: 4px;

.popup {
  background: hsla(0, 0%, 100%, 0.98);
  position: fixed;
  width: 365px;
  border-radius: $popup-border-radius;
  box-shadow: #282c34;

  &__content {
    border-radius: $popup-border-radius;
    padding: 0.5rem;
    box-shadow: 0 0 2px 0 rgb(47 52 61 / 8%), 0 0 12px 0 rgb(47 52 61 / 12%);
  }
}
