body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.options {
  position: absolute;
  width: 100vw !important;
  height: 100vh !important;
  font-size: 2rem;
  background-color: #282c34;
  color: #fff;

  .content {
    padding: 10px 55px;
  }
}
